
 body {
        font-family: Montserrat, sans-serif;
        background-color: #F9B1B7;
        padding: 20px;
        font-size: 34px;
        letter-spacing: 1.7px;
        
    }

    .output {
        margin-top: 20px;
        padding: 10px;
        border: 1px solid rgb(254, 229, 229);
        color: rgb(45, 45, 45);
        border-radius: 20px;
    }

    .box .output {
        font-size: 34px;
        width: 88%;
        
        
    }
    #radioOptions{
    letter-spacing: 1.7px;
    padding: 8px;
    margin-top: 40px;
    line-height: 48px;
}

    #resultArea #calculateButton  #radioOptions #productDropdown #stonePrice{
        font-size: 34px;
    }

    select {
        font-size: 44px;  /* eller vilken storlek du föredrar */
        background-color: rgb(255, 255, 255);
        color: rgb(198, 30, 92);
        border: rgb(180, 151, 119);
        letter-spacing: 1.7px;
    }

    button {
        background-color: rgb(255, 165, 69);
        font-size: 34px;  /* eller vilken storlek du föredrar */
        color: white;
        letter-spacing: 1.7px;
        border-radius: 20px;
        padding: 8px;
        margin-top: 40px;
    }

    input {
        background-color: rgb(255, 255, 255);
        font-size: 34px;  /* eller vilken storlek du föredrar */
        color: rgb(77, 39, 39);
    }

    .parent  {
    display: flex;
    justify-content: center;  /* horizontally centers content */
    align-items: center;      /* vertically centers content */
    width: 88%;             /* or whatever width you want */
    height: 88%;            /* or whatever height you want */
    margin: 0 auto; 
    padding: 10%;
}
